!!! Strict
%html{:DIR => "RTL", :lang => "AR", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title E-TEB الطب الالكتروني
    %META{:CONTENT => "text/html; charset=windows-1256", "HTTP-EQUIV" => "Content-Type"}
      %meta{:content => "", :name => "description"}
        %meta{:content => "Laboratory, Egypt, Egypt labs, المعامل المصرية", :name => "keywords"}
          = javascript_include_tag :all
          = javascript_include_tag :ckeditor
          %script{:charset => "utf-8", :type => "text/javascript"}
            $(function(){
            $("input[data_uniform!='0'], textarea[data_uniform!='0'], select[data_uniform!='0'], button[data_uniform!='0']").uniform();
            });
            
            $(document).ready(function(){
            $(".filter").click(function(){
            $(".panel").slideToggle("slow");
            });
            });
          = stylesheet_link_tag 'style', "uniform.default", "application", "redmond/jquery-ui-1.8.13.custom"
          = stylesheet_link_tag 'jquery.rating'
    
  %body
    .contentholder
      / start 1
      .floatright
        / start 1-1 float left
        = link_to root_path do
          =image_tag "eteblogo.png"
      / end 1-1
      / 0000000000000000000000000
      .floatleft
        / start 1-2 float right
        = render "shared/login"
      / end 1-2
    / end 1  =========================================
    = render "shared/menu"
    / Navigation Menu end
    - if controller_name == "home" && action_name == "index"
      / homepage
      = yield
    -else
      .contentholder4s
        / start 2
        .contentholder5-g
          = yield
          
        / end 2-2
    .line
    .foot
      .contentholder3
        %br/
        %br/
        جميع الحقوق محفوظة. موقع الطب الالكتروني 2011
        %br/
        www.e-teb.com
    / end 2  =========================================